/* ===========================
   TABLETS Y CELULARES
=========================== */

@media (max-width: 768px){

    .invitation-card{

        width:95%;
        padding:30px 20px;

    }

    .header h1{

        font-size:56px;

    }

    .details{

        gap:18px;

    }

    .countdown-grid{

        grid-template-columns:repeat(2,1fr);

        gap:16px;

    }

    .buttons{

        flex-direction:column;

        width:100%;

    }

    .buttons button{

        width:100%;

    }

}

@media (max-width:480px){

    .header h1{

        font-size:44px;

    }

    .countdown-number{

        font-size:36px;

    }

    .bear{

        width:90px;
    }

}